@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*
Color Palette
#8be9fd
#bd93f9
#fc78c4
*/

* {
    background-color: #282a36;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

th {
    color: #282a36;
    background-color: #8be9fd;
}

tr:hover td {
    color: #282a36;
    background-color: #8be9fd;
}


a:hover {
    text-decoration: none;
}

.lightMode {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    color: #282a36;
}